.addressSetPage {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  z-index: 99;
  font-size: 0.32rem;
  & > .addressHeader {
    height: 1rem;
    box-shadow: 0 0.04rem 0.08rem 0 rgba(0, 0, 0, 0.12),
      0 0 6px 0 rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.32rem;
    margin-bottom: 2px;
  }
  & .addressInput {
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    border: none;
    outline: none;
    margin-top: 1px;
    text-indent: 1em;
  }
  & .chooseAddress {
    height: 1rem;
    line-height: 1rem;
    margin-top: 1px;
    text-indent: 1em;
  }
  & .isDefaultAddress {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
    line-height: 1rem;
    margin-top: 1px;
    & > img {
      margin-left: 5px;
      width: 20px;
      display: inline;
    }
  }
  & .closeAddress {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

.modelCloseWrap {
  height: 0.84rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  & > .pickBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.2rem;
    color: #108ee9;
  }
}
