.loginBox{
    width: 100%;
    height: 100%;
    background: white;
    .logo{
        width: 100%;
        padding: 1rem 0 .5rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 3.2rem;
        }
    }
    .loginMain{
        padding: 1.8rem .4rem 0 .4rem;
        .inputWrap{
            height: 1.8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            input{
                display: block;
                height: 80%;
                border: none;
                width: 100%;
                font-size: .4rem;
            }
        }
        .loginBtn{
            margin-top: 1rem;
        }
    }
}
.login{
    height: 100%;
}