.tabWrap{
    position: fixed;
    top: 1rem;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 10;
    .am-tabs-vertical.am-tabs-tab-bar-wrap{
        width: 2rem;
    }
     .am-tabs-default-bar-tab{
        height: .64rem;
    }
    .tabsItem{
        font-size: .28rem;
    }
}
.categoryDetail{
    padding:  .2rem 0;
    margin-top: .64rem;
}
.categoryDetail>div{
    height: .6rem;
    line-height: .6rem;;
    text-align: center;
}
.categoryDetail>div:nth-child(2){
    color: gray;
    height: .5rem;
    line-height: .5rem;
    font-size: .28rem;
}