.textAreaContent{
    width: 100%;
    height: 4rem;
    padding: .2rem .2rem .4rem;
    position: relative;
    .inputArea{
        width: 100%;
        height: 100%;
        border:none;
    }
    span{
        width: auto;
        height: .4rem;
        position: absolute;
        bottom: 0;
        left: .2rem;
        right: .2rem;
        text-align: right;
        text-indent: 2em;
        line-height: .4rem;
        padding: 0 .2rem;
        width: auto;
        color: gray;
        background: white;
        font-size: .28rem;
    }
}
.buttons{
    width: 100%;
    height: auto;
    padding: .1rem .2rem;
    display: flex;
    justify-content: space-between;
    div{
        width: 2rem;
    }
}