#orderConfirm {
  .address {
    padding-top: 5px;
    overflow: hidden;
    background: url('../../static/img/line.png') repeat-x;
    background-size: auto 5px;
    display: flex;
    height: 1.6rem;
    background-color: white;
    & > div {
      height: 100%;
      padding: 0.2rem 0;
    }
    .addressUserName {
      width: 2rem;
      & > div {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .addressMsg {
      flex: 1;
      & > div {
        height: 50%;
        display: flex;
        align-items: center;
      }
      & > div:nth-child(2) {
        color: gray;
      }
    }
    .moreAddress {
      width: 0.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        font-size: 0.4rem;
      }
    }
  }
}
