#minePage{
  .userMsgWrap{
    height: 3rem;
    background: url("http://yanxuan.nosdn.127.net/d069279e5834bbca17065a9855a014bf.png") no-repeat;
    background-size: 100%;
    padding: .7rem .4rem;
    display: flex;
    .userLogo{
      width: 1.6rem;
      background: url("http://yanxuan.nosdn.127.net/8945ae63d940cc42406c3f67019c5cb6.png") no-repeat;
      background-size: 100%;
      height: 100%;
      border-radius: 50%;
    }
    .userMsgs{
      flex: 1;
      padding: .2rem;
      padding-right: 0;
      height: 100%;
      div{
        height: 50%;
        display: flex;
        align-items: center;
        color: white;
      }
    }
  }
  .userPower{
    display: flex;
    flex-wrap: wrap;
    &>div{
      width: 33.333%;
      height: 2.5rem;
      background: white;
      border: .5px solid gainsboro;
      i{
        display: block;
        padding-top: .8rem;
        padding-bottom: .2rem;
        text-align: center;
        font-size: .6rem;
        color: #9e9e9e;
      }
      div{
        text-align: center;
        font-size: .3rem;
      }
    }
  }
  .loginOut{
    height: 1rem;
    width: 100%;
    margin: .2rem 0;
    background: white;
    text-align: center;
    line-height: 1rem;
  }
}