.touchClear{
  height: auto;
  width: 100%;
  position: relative;
  .test{
    position: relative;
    height: auto;
    background: #19d5fd;
    transition: all .2s linear;
    z-index: 2;
    text-align: center;
  }
  .test.left{
    transform: translateX(-60px);
  }
  .test.default{
    transform: translateX(0);
  }
  .colse{
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    background: red;
    z-index: 1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .36rem;
  }
}
