.bannerImg>img{
    width: 100%;
    height: 4rem;
}
.channelWrap{
    width: 100%;
    height: 1.4rem;
    padding: .1rem 0;
    background: white;
    display: flex;
}
.channelWrap .channelItem{
    width: 20%;
    height: 100%;
}
.channelItem>img:nth-child(1){
    height: 80%;
    display: block;
    padding: .2rem;
    margin: auto;
}
.channelItem>div:nth-child(2){
    height: 20%;
    font-size: .24rem;
    text-align: center;
}
.brandBox,.newGoodsBox,.hotGoodsBox,.topGoodsBox{
    margin-top: .2rem;
    background: white;
}
.brandWrap,.newGoodsWrap{
    background: white;
    display: flex;
    flex-wrap: wrap;
}
.brandWrap .brandItem{
    width: 50%;
    height: 2.2rem;
    position: relative;
}
.brandItem>img{
    width: 100%;
    height: 100%;
    max-height: 4rem;
}
.brandItem>div.brandItemName{
    position: absolute;
    top: .2rem;
    left: .2rem;
    font-size: .3rem;
}
.brandItem>div.brandItemMinPrice{
    position: absolute;
    top: .6rem;
    left: .2rem;
    font-size: .24rem;
    color: darkgrey;
}
.brandTitle,.newGoodsTitle,.hotGoodsTitle,.topGoodsTitle{
    height: 1rem;
    background: white;
    text-align: center;
    font-size: .3rem;
    line-height: 1rem;
    letter-spacing: .02rem;
    font-weight: bold;
}
.newGoodsItem{
    width: 50%;
    height: 4rem;
}
.newGoodsItem>img{
    height: 70%;
    width: 100%;
}
.newGoodsItem>.newGoodsName,.newGoodsItem>.newGoodsPrice{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .3rem;
}
.newGoodsPrice{
    color: darkred;
}
.hotGoodsWrap{
    width: 100%;
    padding: 0 .2rem;
    min-height: 200px;
}
.hotGoodsItem{
    height: 3rem;
    position: relative;
    padding: 0.1rem 0;
    display: flex;
}
.hotGoodsItem:after{
    content: '';
    width: 200%;
    height: 1px;
    background: darkgrey;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform-origin: 0;
    transform: scale(0.5);
}
.hotGoodsItem>img,.hotGoodsItem>div.lazyload-placeholder{
    width: auto;
    height: 100%;
}
.hotGoodsItem>div.hotGoodsInfos{
    flex: 1;
    padding: 0.5rem 0;
}
.hotGoodsItem>div>div{
    height: 33.3333%;
    display: flex;
    align-items: center;
}
.hotGoodsName{
    font-size: .32rem;
}
.hotGoodsInfo{
    color: darkgray;
    font-size: .28rem;
}
.hotGoodsPrice{
    color: darkred;
    font-size: .3rem;
}
.topGoodsWrap{
    height: auto;
    padding-bottom: .2rem;
}
.topGoodsItem{
    height: 5rem;
}
.topGoodsItem>img{
    height: 4rem;
    width: 100%;
}
.topGoodSubTitle,.topGoodTitle{
    margin-top: .1rem;
    height: .4rem;
    line-height: .4rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.topGoodSubTitle{
    font-size: .32rem;
}
.topGoodPrice{
    color: darkred;
}
.topGoodTitle{
    font-size: .24rem;
    color: gray;
}
.cateGoryBox{
    height: auto;
}
.cateGoryName{
    height: 1rem;
    text-align: center;
    line-height: 1rem;
}
.cateGoryGoodsWrap{
    display: flex;
    flex-wrap: wrap;
}
.cateGoryGoodsWrap>a{
    width: 50%;
    height: auto;
    background: white;
    padding: .2rem;
    position: relative;
}
.cateGoryGoodsWrap>a:nth-child(2n+1):after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #f5f5f9;
    border-left-width: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    transform: scale(0.5);
    transform-origin: left top;
}
.cateGoryGoodsWrap>a:nth-child(2n):after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #f5f5f9;
    border-right-width: 2px;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    transform: scale(0.5);
    transform-origin: left top;
}
.goodsItemImg{
    width: 100%;
    min-height: 2rem;
    height: auto;
}
.goodsItemImg>img{
    width: 100%;
    height: auto;
}
.goodsItemName{
    text-align: center;
    font-size: .28rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    padding-bottom: .3rem;
    padding-top: .1rem;
}
.goodsItemPrice{
    text-align: center;
    font-size: .28rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    color: red;
}
.categoryMoreGoods{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
}
.categoryMoreGoods>div{
    width: 100%;
    text-align: center;
}
.categoryMoreGoods>img{
    padding: .4rem;
    height: 1.4rem;
    width: 1.4rem;
}