.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background: white;
    box-shadow: 0 .04rem .08rem 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.header>div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .left,.header .right{
    width: .6rem;
}
.header .title{
    flex: 1;
    font-size: .32rem;
}