$color: red;
.brandDetail{
  font-size: .28rem;
  img{
    width: 100%;
    height: auto;
  }
  .breadDesc{
    width: 100%;
    line-height: .4rem;
    padding: .4rem;
    background: white;
    text-indent: 2em;
    color: gray;
  }
}
.goodsListWrap{
  margin-top: .2rem;
}