body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-size: .3rem !important;
}
body,html,#root,.App{
  height: 100%;
}
*{
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.tabPageContent{
  min-height: 100%;
  padding-bottom: 1.04rem;
}
.noTabPageContent{
  padding-top: 1.04rem;
  min-height: 100%;
}
a{
  color: black;
  cursor: pointer;
}
.onePx_bottom{
  position: relative;
  &:after{
    content: '';
    width: 200%;
    background: #ededed;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scale(.5);
    transform-origin: 0;
  }
}
.onePx_top{
  position: relative;
  &:after{
    content: '';
    width: 200%;
    background: #ededed;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(.5);
    transform-origin: 0;
  }
}
.onePx_left{
  position: relative;
  &:after{
    content: '';
    width: 1px;
    background: #ededed;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(.5);
    transform-origin: 0;
  }
}
.onePx_right{
  position: relative;
  &:after{
    content: '';
    width: 1px;
    background: #ededed;
    height: 200%;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(.5);
    transform-origin: 0;
  }
}
.onePx_border{
  position: relative;
  &:after{
    content: '';
    width: 200%;
    border: 1px solid #ededed;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(.5);
    transform-origin: 0 0;
  }
}
body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
