.commentList{
    background: white;
    padding: .2rem;
  .commentItem:last-child{
    &:after{
      width: 0;
      height: 0;
    }
  }
  .commentItem{
    width: 100%;
    height: auto;
    position: relative;
    background: white;
    color: gray;
    padding-bottom: .1rem;
    &:after{
      content: '';
      width: 200%;
      height: 1px;
      position: absolute;
      bottom: 0;
      transform: scale(0.5);
      transform-origin: 0;
      background-color: gray;
    }
    .userInfo{
      height: .8rem;
      line-height: .8rem;
      font-size: .24rem;
      display: flex;
      justify-content: center;
      align-items: center;
      div:nth-child(1){
        flex: 1;
        color: black;
      }
      div:nth-child(2){
        width: auto;
      }
    }
    .userComment{
      line-height: .6rem;
      font-size: .3rem;
    }
    .commentPicList{
      display: flex;
      img{
        display: block;
        width: 100px;
        height: 100px;
        box-sizing: content-box;
        margin-right: .1rem;
      }
    }
  }
}