#addressPage{
  padding-bottom: 1rem;
  .addressList{
    padding-top: 5px;
    overflow: hidden;
    background: url("../../static/img/line.png") repeat-x;
    background-size: auto 5px;
    .addressItem{
      height: 80px;
      background: white;
      border-bottom: 1px solid gainsboro;
      position: relative;
      .isChooseAddress{
        position: absolute;
        top: 5%;
        left: 0;
        height: 90%;
        width: 6px;
        background: #108ee9;
      }
      .addressMsg{
        position: absolute;
        left: 15px;
        right: 5px;
        top: 5px;
        bottom: 5px;
        width: auto;
        height: auto;
        display: flex;
        .concatName{
          width: 4em;
          height: 33.333%;
          background: white;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #ff9500;
        }
        .addressDetail{
          flex: 1;
          .concatPhone{
            height: 33.333%;
            display: flex;
            align-items: center;
          }
          .concatAddress{
            height: 33.333%;
            display: flex;
            align-items: center;
            color: gray;
          }
        }
        .deleteAddress{
          width: 40px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          img{
            width: 55%;
          }
        }
      }
    }
  }
  .addAddress{
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
