.searchPage{
    height: auto;
    .searchFix{
        position: fixed;
        top: 0rem;
        width: 100%;
        z-index: 11;
        box-shadow: 0 0.04rem 0.08rem 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
    }
    .searchMsg{
        position: fixed;
        top: 1rem;
        & .searchItemWrap:nth-child(1){
            margin-top: 0;
        }
        .searchItemWrap{
            width: 100%;
            height: auto;
            margin-top: .1rem;
            padding: .2rem;
            padding-top: 0;
            background: white;
            .title{
                width: 100%;
                height: .7rem;
                font-size: .3rem;
                line-height: .7rem;
                i{
                    font-size: .4rem;
                    float: right;
                }
            }
        }
    }
    .searchGoods{
      margin-top: .7rem;
      &>.searchConditionWrap{
        position: fixed;
        top:1rem;
        width: 100%;
        height: auto;
        z-index: 10;
        box-shadow: 0 0.04rem 0.08rem 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
        &>.searchCondition{
          height: .7rem;
          background: white;
          display: flex;
          font-size: .28rem;
          &>div{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            .sortPrice{
              margin-left: .1rem;
              width: .2rem;
            }
          }
          &>div.active{
            color: red;
          }
        }
        &>.searchConditionCategoryWrap{
          padding: .2rem .1rem;
          background: white;
          position: relative;
          .categoryListItem{
            display: inline-block;
            white-space: nowrap;
            cursor: pointer;
            background-color: #fff;
            border: 1px solid #dcdfe6;
            border-color: #dcdfe6;
            color: #606266;
            appearance: none;
            text-align: center;
            box-sizing: border-box;
            outline: none;
            font-weight: 500;
            user-select: none;
            padding: .16rem .24rem;
            font-size: .28rem;
            border-radius: .08rem;
            margin: .05rem;
          }
          .active{
            border-color: red;
            color: red;
          }
        }
      }
    }
}
.listWrap{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .listItem{
      display: inline-block;
      white-space: nowrap;
      cursor: pointer;
      background-color: #fff;
      border: 1px solid #dcdfe6;
      border-color: #dcdfe6;
      color: #606266;
      appearance: none;
      text-align: center;
      box-sizing: border-box;
      outline: none;
      font-weight: 500;
      user-select: none;
      padding: .16rem .24rem;
      font-size: .28rem;
      border-radius: .08rem;
      margin: .05rem;
    }
    .listItem.active{
        color: red;
        border-color: red;
    }
}